# Rust
desktop/target/
pmp/target/
mobile-linux/target/

# Android / Gradle
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.kotlin/
*.iml
.idea/

# Firma (NUNCA subir)
*.jks
*.keystore
keystore.properties

# SO
Thumbs.db
.DS_Store

# Artefactos
*.AppImage
dist/
